apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  labels:
    app.kubernetes.io/component: webhook
    app.kubernetes.io/name: dynatrace-operator
    app.kubernetes.io/version: v0.1.33
  name: dynatrace-webhook
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: webhook
